body.dark-theme {
    input {
        background: var(--black-color);
        color: var(--white-color);
    }

    .register-button {
        color: var(--main-color);

        &:hover,
        &:focus,
        &:active {
            color: var(--white-color) !important;
        }
    }
}

input:focus {
    border-color: var(--main-color);
}

.register-button, .login-button {
    background-color: var(--transparent-color);
    color: var(--white-color);
    border: 1px solid var(--main-color);
    padding: 6px 12px;
    border-radius: 5px;
    transition: ease-in-out 0.4s;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--main-color) !important;
        color: var(--main-color) !important;
        border: 1px solid var(--main-color) !important;
    }
}
