body.dark-theme {
    .blog-section {
        .blog-title {
            color: var(--white-color);
        }

        .blog-subtitle {
            color: var(--off-white-color);
        }

        .blog-ring {
            border: 1px solid rgba(255, 255, 255, 0.05);
        }
    }
}

.blog-section {
    .blog-title {
        color: var(--black-color);
    }

    .blog-subtitle {
        color: var(--light-black-color);
    }

    .no-blogs {
        color: var(--grey-color);
    }

    .blog-card {
        background-color: var(--main-color);
        border-radius: var(--border-round-radius);
        position: relative;

        .blog-overlay {
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(to top, rgba(var(--main-color-rgb), 0.3), rgba(var(--main-color-rgb), 0));
        }

        .blog-ring {
            border-radius: var(--border-round-radius);
            border: 1px solid rgba(17, 24, 39, 0.1);
        }

        .blog-heading {
            color: var(--white-color);
        }

        .blog-meta {
            color: var(--off-white-color);
        }

        .blog-image {
            border-radius: 1rem;
        }
    }
}
