body.dark-theme {
    .blog-item {
        border: 1px solid var(--white-color);
    }

    .blog-info {
        color: var(--grey-color);
    }
}

.blog-item {
    border: 1px solid var(--black-color);
    border-radius: var(--border-radius);
}

.blog-image {
    display: block;
    width: auto;
    height: 300px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .blog-image {
        width: auto;
        max-height: 300px;
        height: auto;
    }
}

.blog-info {
    color: var(--light-black-color);
}

.blog-read-more {
    padding: 0;
}
