.cta-container-fluid {
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);

    body.dark-theme & {
        border-top: 1px solid var(--white-color);
        border-bottom: 1px solid var(--white-color);
    }
}

.cta-title {
    margin: 0;
}

.cta-text {
    padding: 15px 0;
}

@media screen and (max-width: 768px) {
    .button-cta-row {
        display: flex !important;
        width: fit-content;
        margin: auto;
    }
}
