body.dark-theme {
    .services-card {
        background: var(--black-color);
        color: var(--white-color);
        border: 1px solid var(--white-color);

        .card-body {
            color: var(--white-color);
        }

        &:hover {
            border-color: var(--main-color);
        }
    }
}

.services-card {
    border: 1px solid var(--black-color);
    padding: 20px;
    border-radius: 5px;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .card-body {
        padding: 15px 0;
        color: var(--black-color);
        flex-grow: 1;
    }

    .card-button {
        margin-top: auto;
    }

    &:hover {
        border-color: var(--main-color);
        cursor: pointer;
    }
}
