body.dark-theme {
    .services-card {
        background: var(--black-color);
        color: var(--white-color);
        border: 1px solid var(--white-color);

        .card-body {
            color: var(--white-color);
        }

        &:hover {
            border-color: var(--main-color);
        }
    }
}

.services-card {
    border: 1px solid var(--black-color);
    padding: 20px;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .card-body {
        padding: 15px 0;
        color: var(--black-color);
        flex-grow: 1;
    }

    .card-button {
        margin-top: auto;

        .read-more-services-button {
            display: flex;
            align-items: center;
            background-color: var(--transparent-color);
            color: var(--main-color);
            border: none;
            padding: 0;
            border-radius: 5px;
            transition: ease-in-out 0.4s;
            position: relative;
            font-size: 20px;

            &:hover,
            &:focus,
            &:active {
                background-color: var(--transparent-color) !important;
                color: var(--main-color) !important;
            }

            &::after {
                content: '';
                background: var(--icon--angle-right-url) no-repeat;
                width: 15px;
                height: 20px;
                display: inline-block;
                margin-left: 5px;
                transition: transform 0.4s ease-in-out;
            }

            &:hover::after {
                transform: translateX(8px);
            }
        }
    }

    &:hover {
        border-color: var(--main-color);
        cursor: pointer;
    }
}
