.text-section {
    .text-paragraph {
        padding: 15px 0 0 0;
    }

    ul, ol {
        margin: 0.5rem 0;
    }

    ul li, ol li {
        margin-bottom: 0.5rem;
    }

    .usps-grid {
        column-gap: 1.5rem;

        .left {
            justify-content: end;
        }

        a {
            color: var(--main-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
