:root {
    --main-color: #15CDF2;
    --second-color: #5C91B0;
}

.container {
    max-width: 1028px !important;
}

@media (max-width: 640px) {
    .container {
        max-width: -webkit-fill-available !important;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
