:root {
    --main-color: #15CDF2;
    --main-color-rgb: 21, 205, 242;

    --second-color: #0FA3C6;
    --second-color-rgb: 15, 163, 198;
}

@media (max-width: 640px) {
    .container {
        max-width: -webkit-fill-available !important;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
