:root {
    --main-color: #15CDF2;
    --second-color: #0FA3C6;
}

@media (max-width: 640px) {
    .container {
        max-width: -webkit-fill-available !important;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
