.dark-theme {
    .custom-flex {
        .flex-item {
            .menu-item {
                color: var(--white-color);
            }
        }
    }
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .flex-item {
        width: fit-content;
        padding: 0 30px;
        border-radius: var(--border-radius);
    }
}

.social-icon {
    position: relative;
    display: inline-block;

    img {
        transition: opacity 0.4s ease;
    }

    &:hover img {
        opacity: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity var(--transition);
    }

    &:hover::after {
        opacity: 1;
    }

    &.facebook::after {
        background-image: url("/images/develix.nl/facebook-develix.svg");
    }

    &.instagram::after {
        background-image: url("/images/develix.nl/instagram-develix.svg");
    }

    &.linkedin::after {
        background-image: url("/images/develix.nl/linkedin-develix.svg");
    }

    &.pinterest::after {
        background-image: url("/images/develix.nl/pinterest-develix.svg");
    }

    &.x-twitter::after {
        background-image: url("/images/develix.nl/x-twitter-develix.svg");
    }
}
