.dark-theme {
    .header {
        background: var(--black-color);
        border-bottom: 1px solid var(--white-color);

        .menu-item {
            color: var(--white-color);
        }

        #dropdown-menu {
            background: var(--black-color);
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1),
            0 2px 4px rgba(255, 255, 255, 0.05);
        }

        .nav-item {
            &:hover {
                background: var(--dark-grey-color);
            }
        }

        .text-description {
            color: var(--off-white-color);
        }

        .contact-button {
            color: var(--black-color);
            transition: background-color 0.4s ease, color 0.4s ease;

            &:hover {
                background-color: var(--second-color);
                color: var(--black-color);
            }
        }
    }
}

.header {
    border-bottom: 1px solid var(--grey-color);
    transition: background-color 0.4s ease, color 0.4s ease;
    background-color: var(--white-color);

    .nav-item {
        padding: 5px 10px;
        color: var(--black-color);

        &:hover {
            background: var(--grey-color);
            border-radius: var(--border-radius);
        }
    }

    .relative.group {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 10px;
            background: transparent;
        }
    }

    #dropdown-menu {
        margin-top: 10px;
        background: var(--white-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: var(--border-radius);
    }

    .text-description {
        color: var(--dark-grey-color);
    }

    #theme-switcher {
        width: 30px;
        height: 30px;
    }
}
